<ul class="social-links" aria-label='{{ T "social_links" }}'>
  <li>
    <a
      href="{{ site.Params.social.whatsapp }}"
      aria-label="WhatsApp"
      target="_blank"
      rel="noopener"
    >
      <i class="bi bi-whatsapp" aria-hidden="true"></i>
    </a>
  </li>
  {{/* }}
  <li>
    <a
      href="{{ site.Params.social.facebook }}"
      aria-label="Facebook"
      target="_blank"
      rel="noopener"
    >
      <i class="bi bi-facebook" aria-hidden="true"></i>
    </a>
  </li>
  {{ */}}
  <li>
    <a
      href="{{ site.Params.social.instagram }}"
      aria-label="Instagram"
      target="_blank"
      rel="noopener"
    >
      <i class="bi bi-instagram" aria-hidden="true"></i>
    </a>
  </li>
  {{/* }}
  <li>
    <a
      href="{{ site.Params.social.linkedin }}"
      aria-label="LinkedIn"
      target="_blank"
      rel="noopener"
    >
      <i class="bi bi-linkedin" aria-hidden="true"></i>
    </a>
  </li>
  {{ */}}
</ul>
